*
  margin: 0
  padding: 0
  box-sizing: border-box

:root
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif

  background-color: rgb(25, 25, 25)

  font-synthesis: none
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  -webkit-text-size-adjust: 100%

body
  min-height: 100dvh
  width: 100%
  background-image: radial-gradient(rgba(53, 134, 255, 0.25) 1px, transparent 0)
  background-size: 2rem 2rem
  background-position: 100% 100%
  background-attachment: fixed

#app
  // max-width: 1920px
  max-width: 1600px
  margin: 0 auto

::-webkit-scrollbar
  width: 1rem

::-webkit-scrollbar-track
  background: transparent

::-webkit-scrollbar-thumb
  background: rgba(215, 215, 215, 0.5)
  border: 0.25rem solid rgb(25, 25, 25)
  border-radius: 1rem

::-webkit-scrollbar-thumb:hover
  background: rgba(215, 215, 215, 0.75)

#cursor-inner
  height: 1px
  width: 1px
  background-color: rgba(0, 0, 0, 0.01)
  position: fixed
  transform: translate(0px, 0px)
  pointer-events: none
  z-index: -1

#cursor-outer
  position: fixed
  height: 60px
  width: 60px
  transform: translate(0px, 0px)
  border-radius: 50%
  border: 2px solid rgba(53, 134, 255, 0.5)
  background-color: transparent
  pointer-events: none
  z-index: -1
